<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516790707643-por47jphhda5p473lbto03j982n9dp58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516790707643-por47jphhda5p473lbto03j982n9dp58</string>
	<key>API_KEY</key>
	<string>AIzaSyDWvtFqGrwpIzliGZsFjBr1FlhwlqT8uCs</string>
	<key>GCM_SENDER_ID</key>
	<string>516790707643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SilviKabraCIS195.Pivot</string>
	<key>PROJECT_ID</key>
	<string>cis195-final-project-pivot</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-final-project-pivot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:516790707643:ios:3cdd5b5eabfa29ef9f109e</string>
	<key>DATABASE_URL</key>
	<string>https://cis195-final-project-pivot.firebaseio.com</string>
</dict>
</plist>
